.pincode-field {
    padding: 15px 0px;
    width: 55%;
}

#pincode-check {
    float: right;
    padding: 5px 10px;
}

#pincode {
    width: 75%;
}

/*homepage*/
#pincode-check-home {
    padding: 5px 10px;
    display: inline;
    width: 63%;
    margin-top: 4px;
    /* border-radius: 0px; */
}
#pincode-home {
   /* width: 30%;*/
}

.pincode-home-title{
	color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}
