<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pincode>
            <general>
                <active>1</active>
                <checkaddtocart>0</checkaddtocart>
                <successmessage>Pincode is Available For Delivery</successmessage>
                <failmessage>Pincode is Not Available For Delivery</failmessage>
                <successmessage_product_level>Pincode is Available For This Product</successmessage_product_level>
                <failmessage_product_level>Pincode is Not Available For This Product</failmessage_product_level>
            </general>
        </pincode>
    </default>
</config>
